# **PyCity Schools Analysis** #

Analysis here

In [1]:
# Dependencies and Setup

import pandas as pd

# Files to load

schools_complete_file = "Resources/schools_complete.csv"
students_complete_file = "Resources/students_complete.csv"

# read files and store into Pandas DataFrame 

school_data = pd.read_csv(schools_complete_file)
student_data = pd.read_csv(students_complete_file)

# combine the data into a single dataset

school_data_complete = pd.merge(student_data, school_data, how='left', on='school_name')
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# **District Summary** #

In [2]:
# Calculate the total number of unique schools

school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [3]:
# Total students

student_count = school_data_complete["student_name"].count()
student_count

39170

In [4]:
# Total budget

total_budget = school_data_complete[["school_name","budget"]]
grouped_budget = total_budget.groupby(["school_name"])
total_budget = int(grouped_budget.mean().sum())
total_budget

24649428

In [5]:
# Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Average reading score

average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# % passing math (the percentage of students who passed math)

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# % passing reading (the percentage of students who passed reading)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# % overall passing (the percentage of students who passed math AND reading)

passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) \
                                                    & (school_data_complete["reading_score"] >= 70)].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# snapshot of the district's key metrics in a DataFrame

summary_dict = {"Total schools": [school_count], \
                "Total students": [student_count], \
                "Total Budget": [total_budget], \
                "Average Math Score": [average_math_score], \
                "Average Reading Score": [average_reading_score], \
                "% Passing Math": [passing_math_percentage],\
                "% Passing Reading": [passing_reading_percentage], \
                "% Overall Passing": [overall_passing_rate]}

district_summary = pd.DataFrame(data=summary_dict)

# Formatting
district_summary["Total students"] = district_summary["Total students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

district_summary

,Total schools,Total students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# **School Summary** #

In [ ]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [ ]:
# Calculate the total student count
per_school_counts = school_data["size"]
per_school_counts

In [ ]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data["budget"]
per_school_budget

In [ ]:
# Per student budget

per_student_budget = school_data["per_student_budget"] = school_data["budget"] / per_school_counts
per_student_budget

In [ ]:
student_data

In [ ]:
#average test score per school

average_test_score = student_data.groupby(["school_name"])
average_test_score = pd.DataFrame(average_test_score.mean())
average_test_score
average_test_score = average_test_score[["reading_score","math_score"]]
average_test_score.reset_index()
average_test_score = average_test_score.rename(columns={"reading_score":"average_reading_score","math_score":"average_math_score"})
average_test_score

In [ ]:
summary_1 = pd.merge(school_data, average_test_score, how='outer', on='school_name')
summary_1

In [ ]:
# math passing_rate 

math_passing_rate_per_school = student_data[["school_name","grade","student_name","math_score"]]
math_passing_rate_per_school = math_passing_rate_per_school.loc[(student_data["math_score"]>69), :]
math_passing_rate_per_school = math_passing_rate_per_school.groupby(["school_name"])
math_passing_rate_per_school = pd.DataFrame(math_passing_rate_per_school["math_score"].count())
math_passing_rate_per_school = math_passing_rate_per_school.rename(columns={"math_score":"passed_math"})
math_passing_rate_per_school


# passing_math_percentage = passing_math_count / float(student_count) * 100
# passing_math_percentage

In [ ]:
# reading passing_rate 

reading_passing_rate_per_school = student_data[["school_name","grade","student_name","reading_score"]]
reading_passing_rate_per_school = reading_passing_rate_per_school.loc[(student_data["reading_score"]>69), :]
reading_passing_rate_per_school = reading_passing_rate_per_school.groupby(["school_name"])
reading_passing_rate_per_school = pd.DataFrame(reading_passing_rate_per_school["reading_score"].count())
reading_passing_rate_per_school = reading_passing_rate_per_school.rename(columns={"reading_score":"passed_reading"})
reading_passing_rate_per_school


# passing_math_percentage = passing_math_count / float(student_count) * 100
# passing_math_percentage

In [ ]:
# both passing_rate 

both_passing_rate_per_school = student_data[["school_name","grade","student_name","reading_score", "math_score"]]
both_passing_rate_per_school = both_passing_rate_per_school.loc[((student_data["reading_score"]>69) & (student_data["math_score"]>69)) , :]
both_passing_rate_per_school = both_passing_rate_per_school.groupby(["school_name"])
both_passing_rate_per_school = pd.DataFrame(both_passing_rate_per_school["student_name"].count())
both_passing_rate_per_school = both_passing_rate_per_school.rename(columns={"student_name":"passed_both"})
both_passing_rate_per_school


# passing_math_percentage = passing_math_count / float(student_count) * 100
# passing_math_percentage

In [ ]:
passed_merged = pd.merge(math_passing_rate_per_school, reading_passing_rate_per_school, how="outer", on="school_name")
passed_merged

In [ ]:
passed_both_merged = pd.merge(passed_merged, both_passing_rate_per_school, how="outer", on="school_name")
passed_both_merged

In [ ]:
summary_2 = pd.merge(summary_1, passed_both_merged, how="outer", on="school_name")
summary_2

In [ ]:
summary_2["% Passing Math"] = summary_2["passed_math"] * 100 / summary_2["size"]
summary_2["% Passing Math"]

In [ ]:
summary_2["% Passing Reading"] = summary_2["passed_reading"] * 100 / summary_2["size"]
summary_2["% Passing Reading"]

In [ ]:
summary_2["% Overall Passing"] = summary_2["passed_both"] * 100 / summary_2["size"]
summary_2["% Overall Passing"]

In [ ]:
summary_2 = summary_2[["school_name","type","size","budget","per_student_budget","average_math_score","average_reading_score","% Passing Math","% Passing Reading","% Overall Passing"]]

In [ ]:
school_snapshot = summary_2.rename(columns={"school_name":"School","type":"School Type","size":"Total Students","budget":"Total School Budget","per_student_budget":"Per Student Budget","average_math_score":"Average Math Score","average_reading_score":"Average Reading Score"})

In [ ]:
school_snapshot_formated = school_snapshot.set_index(["School"]).sort_values(["School"])

# Formatting
school_snapshot_formated["Total Students"] = school_snapshot_formated["Total Students"].map("{:,}".format)
school_snapshot_formated["Total School Budget"] = school_snapshot_formated["Total School Budget"].map("${:,.2f}".format)
school_snapshot_formated["Per Student Budget"] = school_snapshot_formated["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame

school_snapshot_formated

In [ ]:
school_snapshot.dtypes

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
school_snapshot.sort_values(["% Overall Passing"], ascending=False).reset_index(drop=True).head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
school_snapshot.sort_values(["% Overall Passing"]).reset_index(drop=True).head(5)

## Math Scores by Grade

In [ ]:
school_data_complete.head(15)

In [ ]:
# Group by "school_name" and take the mean of each.

ninth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "9th"), :]
tenth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "10th"), :]
eleventh_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "11th"), :]
twelfth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "12th"), :]

In [ ]:
# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

In [ ]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


school_data_complete["9th"] = ninth_grade_math_scores
school_data_complete["10th"] = tenth_grader_math_scores
school_data_complete["11th"] = eleventh_grader_math_scores
school_data_complete["12th"] = twelfth_grader_math_scores

math_scores_by_grade = pd.DataFrame(school_data_complete.groupby(["school_name"]).mean())

In [ ]:
math_scores_by_grade = math_scores_by_grade[["9th","10th","11th","12th"]]

In [ ]:
# Minor data wrangling
math_scores_by_grade.index.name = None

In [ ]:
# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "9th"), :]
tenth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "10th"), :]
eleventh_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "11th"), :]
twelfth_graders_scores = school_data_complete.loc[(school_data_complete["grade"] == "12th"), :]

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`

school_data_complete["9th"] = ninth_grade_reading_scores
school_data_complete["10th"] = tenth_grader_reading_scores
school_data_complete["11th"] = eleventh_grader_reading_scores
school_data_complete["12th"] = twelfth_grader_reading_scores

reading_scores_by_grade = pd.DataFrame(school_data_complete.groupby(["school_name"]).mean())


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_snapshot.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins, labels=labels, include_lowest=True)

In [ ]:
school_spending_df.sort_values(["School"]).set_index(["School"])

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame

spending_summary = school_spending_df[["Spending Ranges (Per Student)","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].set_index(["Spending Ranges (Per Student)"])

# Display results
spending_summary.sort_values(["Spending Ranges (Per Student)"]).groupby(["Spending Ranges (Per Student)"]).mean()

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary = school_snapshot.copy()
# school_size_df.dtypes

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, include_lowest=True)

In [ ]:
per_school_summary = per_school_summary.sort_values(["School"]).set_index(["School"])

per_school_summary

In [ ]:
# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame

per_school_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

type_summary = per_school_summary.groupby(["School Type"]).mean()

In [ ]:
#Display results

type_summary